@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500);
$work-sans: 'Work Sans', Arial, sans-serif;

$coral: #F05546;
$green: #BCC83E;
$charcoal: #272729;
$light-grey: #ECEDE2;

$primary: $green;
$secondary: $charcoal;
$accent: $coral;
$background: $light-grey;