.blog-thumb {
  width: 100%;
}

.remove-style {
  list-style-type: none;
  text-decoration: none;
  color: $grey;
}

.author {
  font-size: .75em;
  color: $light-grey;
  margin-bottom: .75em;
}

.blog-title {
  font-size: 1em;
  line-height: 1.5em;
  color: $grey;
}

.excerpt {
  font-size: .9em;
  color: $medium-grey;
}

.blog-sidebar {
  background-color: lighten($light-grey, 25%);
}
