@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden;
  font-family: $work-sans;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: sans-serif;
  margin: 0;
}

.ffi-logo {
  height: 40px;
  margin-top: 1em;
}

.top-nav {
  background-color: $grey;
}

.top-nav ul {
  text-align: center;
}

.top-nav a {
  text-decoration: none;
  padding: 1em 1.5em;
  color: white;
}

.top-nav li {
  list-style-type: none;
  display: block;
  padding: .75em;
  font-size: .75rem;
  line-height: 1rem;
}

.donate {
  background-color: $coral;
  display: block;
  margin: 0 25% .75em 25%;
}

header {
  width: 100%;
}

footer {
  background-color: $grey;
  color: white;
  padding: 4em 2em;
}

.btn-coral {
    margin: 0 ;
    border: 0;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    text-decoration: none;
    display:inline-block;
    font-weight: lighter;
    color: white;
    background-color: $coral;
    letter-spacing: 1.5px;
}

.btn-coral:hover {
    background-color: $dark-coral;
}

.social-icon {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.social-icon:hover {
  color: $light-coral;
}

.social {
  display: block;
  margin: 1em 0;
}

//tablet
@media only screen and (min-width: 38em){


} // @media query tablet

//desktop
@media only screen and (min-width: 60em){

.ffi-logo {
  height: 40px;
  margin-top: 1em;
}

.top-nav {
  background-color: $grey;
}

.top-nav ul {
}

.top-nav a {
  text-decoration: none;
  padding: 1em 1.5em;
  color: white;
}

.top-nav li {
  list-style-type: none;
  display: inline-block;
  font-size: .75rem;
  line-height: 1rem;
}

.donate {
  background-color: $coral;
  display: inline-block;
}

.donate a {
  text-decoration: none;
  color: white;
}


} // @media query desktop

