.map {
	background-color: $background;
	overflow: none;
}

#other:hover {
 fill: $light-coral;
}

#asia:hover {
  fill: $medium-coral;
}

#africa:hover {
  fill: $dark-coral;
}

#eurasia:hover {
  fill: $coral;
}

#americas:hover {
  fill: $dark-coral;
}

.c-hov { 
	color: $medium-dark-grey; 
	&:hover { 
		color: $medium-coral;
	}
}

.c2-hov { 
	color: $medium-dark-grey; 
	&:hover { 
		color: $dark-coral;
	}
}

.c3-hov { 
	color: $medium-dark-grey; 
	&:hover { 
		color: $dark-coral;
	}
}

.c4-hov { 
	color: $medium-dark-grey; 
	&:hover { 
		color: $coral;
	}
}

