.map {
	background-color: $background;
	overflow: none;
}

#other:hover {
 fill: $light-coral;
}

#asia:hover {
  fill: $medium-coral;
}

#africa:hover {
  fill: $dark-coral;
}

#eurasia:hover {
  fill: $coral;
}

#americas:hover {
  fill: $dark-coral;
}
