.map {
  margin: 0 10%;
}

#other:hover {
  opacity: .5;
}

#asia:hover {
  fill: $coral;
}

#africa:hover {
  fill: $coral;
}

#eurasia:hover {
  fill: $coral;
}

#americas:hover {
  fill: $coral;
}
