<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>FFI</title>
  <link href="https://file.myfontastic.com/QkfGZK4opeRm48WYMxh6JU/icons.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<body>
  <header>
   <nav class="top-nav">
        <a class="logo" href="index.html">
          <img class="ffi-logo" src="img/logo-full.png" alt="Navigate Home">
        </a>
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="initiatives.html">Initiatives</a></li>
          <li><a href="species.html">Species</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="donate.html" class="donate">Donate</a></li>
        </ul>
    </nav>
  </header><!-- /header -->
<main>

{{content}}

      </main><!-- /main -->

    </div> <!--/.sliding-canvas-->
  </div> <!-- /.site-wrapper -->

  <footer>
  <p>Subscribe to receive updates</p>
  <a class="btn-coral" href="login.html">Subscribe</a>
  <div class="social">
    <i>
      <a href="https://twitter.com" class="i-twitter social-icon"></a>
    </i>
    <i>
      <a href="https://facebook.com" class="i-facebook social-icon"></a>
    </i>
    <i>
      <a href="https://facebook.com" class="i-youtube social-icon"></a>
    </i>
  </div>

  <p class="micro">Fauna &amp; Flora International<br>The David Attenborough Building<br>Pembroke Street<br>Cambridge, CB2 3QZ UK<br>info@fauna-flora.org<br>Call: +44 (0)1223 571000<br>Fax: +44 (0)1223 461481</p>
  <p class="micro">© 2016 Fauna &amp; Flora International</p>
  </footer>

<!-- JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>

